body{
	display: block;
	font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-width: 1080px;
    background-color: #F2F2F2;
}

#wrapper{
	width: 1060px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #E2E2E2;
	box-shadow: 0px 0px 10px 7px #E2E2E2;
	border-radius: 15px;
}

#mainheader{
	background-color:white;
	font-size: xx-large;
	text-align: center;
	margin-bottom: 2px;
	margin-left: 153px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	font-family: 'Electrolize', sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
}

#year{
	font-size: xx-large;
	display: block;
	background-color: white;
	margin-bottom: 2px;
	border-radius: 15px;
	margin-left:auto;
	margin-right:auto;
	height: 46px;
	line-height: 46px;
	text-align: center;
	margin-top:30px;
	margin-bottom: 20px;
	width:270px;
}

#maincontent{
	background-color: white;
	border-radius: 15px;
	padding: 8px;
	clear: both;
	font-family: 'Tahoma', 'Geneva', sans-serif;
	font-size: 14px;
	margin-bottom: 8px;
}

#mainimage {
    margin-right: 2px;
    margin-bottom: 8px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-bottom: 1px;
    padding-right: 1px;
    float: left;
    background-color: white;
}

a:link, a:visited{
	background-color:white;
}

#mainmenu a{
	float:left;
    font-family: 'Electrolize', sans-serif;
    font-size: large;
    padding-left: 7px;
    padding-right: 7px;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;

}

.lastchild{
	border-bottom-right-radius: 15px;
	padding-left: 7px;
	padding-right: 10px;
}

table, table tr, table th, table td{
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-color: #AAAAAA;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}

table{
	border-radius:15px;
	background-color:white;
}

a{
	text-decoration:none;
	color:#0F3678;
}

#mainmenu a:link, #mainmenu a:visited{
	color:black;
}

#mainmenu a:hover{
	background-color:#E2E2E2;
}

summary a:hover{
	background-color:#E2E2E2;
}

p a:hover{
	background-color:#E2E2E2;
}

a.small:hover{
	color:green;
	text-decoration:underline;
}

td.correct{
	background-color:#CCFFCC;
}

td.wrong{
	background-color:#FFCCCC;
}

td.gold{
	background-color:#FFEE55;
}

td.silver{
	background-color:#CCCCCC;
}

td.bronze{
	background-color:#B87838;
}

table td.leftalign{
	text-align:left;
}

h3 {
    font-weight: bold;
    margin-bottom: 0px;
}